.layout_page{
  // min-height: 720px;
  height: 100%;
  .logo{
    height:40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  // .layout_page .ant-menu-horizontal{
  //   height: 60px;
  // }
  // .ant-menu-horizontal{
  //   height:64px;
  //   flex-direction: column;
  //   display: flex;
  //   align-items: flex-end;
  // }
  // .ant-menu-submenu-title{
  //   display: flex;
  //   justify-content:center;
  //   width: 100px;
  // }
  // .ant-menu-item, .ant-menu-submenu-title {
  //   padding: 9px 20px;
  // }
}