.page_List_page{
  .ant-modal-confirm .ant-modal-body {
    padding:10px;
  }
  .ant-modal-confirm-body-wrapper{
    width: 300px;
  }
  .ant-modal-content{
    width:330px;
    height:140px
  }
  // .addItem{
    
  // }
}

// .ant-modal-wrap {
// // background: #ffffff;
// }