.page_List_page{
  .ant-modal-confirm .ant-modal-body {
    padding:10px;
  }
  .ant-modal-confirm-body-wrapper{
    width: 300px;
  }
  .ant-modal-content{
    width:330px;
    height:140px
  }
  .title_page{
    display: flex;
    // flex-direction: column;
    justify-content: space-around;

    .search_box{
      padding-bottom: 20px;
      width: 35%;
    }
    .add_box{
      // padding-top: 16px;
      width:20%;
    }
  }
 
}

// .ant-modal-wrap {
// // background: #ffffff;
// }